@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myage {
    height: 450px;
    width: 370px;
    border: 0.5px solid black;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem;
    border-radius: 4px;
}

.myage input, button {
    width: 90%;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
}

.myage h1, button, h3 {
    text-align: center;
    border-radius: 4px;
}

.myage h1 {
    font-size: 1.7rem;
}

.myage button:hover {
    cursor: pointer;
}